.pro-pic{
    width: 70%;
   margin-top: 50px;
}

.sec1{
    margin-top: 100px;
}

.sec2{
    margin-top: 100px;
}
.rifat{
    color: purple;
    margin-bottom: 20px;
}
.hire{
    border: none;
    padding: 10px 25px;
    margin-top: 15px;
    background-color: purple;
    color: #fff;
}
.cover-pic{
    width: 70%;
   
}
.container{
    margin-bottom: 100px;
}
.jayed{
    margin-top: 20px;
    
}
.work{
    text-align: center;
    margin-bottom: 100px;
}


.testimonial{
    text-align: center;
    margin: 100px;
    
}

.latest-work{
    background-image: url(images/latest-work-bg.png);
    width: 100%;
}
.box{
    text-align: center;
    margin-bottom: 100px;
    
  
}
footer{
    text-align: center;
   
}

.btn {
    width: 50%;
    background-color: purple;
    color: #fff;
}
.btn2{
    width: 50%;
   
}

